In [45]:
import pandas as pd
import numpy as np

In [46]:
tn_movie_budgets_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
tn_movie_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [47]:
#making a new df 'Money Metrics'
money_metrics_df = tn_movie_budgets_df

# cleaning budget and gross
# debug this later, but, maybe come back
def clean_a_money_column(df, series_title):
    df[series_title] = df[series_title].str.replace('$','')
    df[series_title] = df[series_title].str.replace(',','')
    df[series_title] = pd.to_numeric(df[series_title])
    return df


money_metrics_df = clean_a_money_column(money_metrics_df,'worldwide_gross')
money_metrics_df = clean_a_money_column(money_metrics_df,'domestic_gross')
money_metrics_df = clean_a_money_column(money_metrics_df,'production_budget')
#clean off dollars
#money_metrics_df['worldwide_gross'] = money_metrics_df['worldwide_gross'].str.replace('$', '')
#clear off commas
#money_metrics_df['worldwide_gross'] = money_metrics_df['worldwide_gross'].str.replace(',', '')
#money_metrics_df.info()

### Repeat for other money columns

#money_metrics_df['production_budget'] = money_metrics_df['production_budget'].str.replace('$', '')
#money_metrics_df['production_budget'] = money_metrics_df['production_budget'].str.replace(',', '')
#money_metrics_df['domestic_gross'] = money_metrics_df['domestic_gross'].str.replace('$', '')
#money_metrics_df['domestic_gross'] = money_metrics_df['domestic_gross'].str.replace(',', '')


#### FUCK YEAH FUNCTIONS

In [48]:
money_metrics_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000,0,0
5778,79,"Apr 2, 1999",Following,6000,48482,240495
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000,1338,1338
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400,0,0
5781,82,"Aug 5, 2005",My Date With Drew,1100,181041,181041

In [31]:
#convert to numeric
money_metrics_df['worldwide_gross'] = pd.to_numeric(money_metrics_df['worldwide_gross']) 


#test that it worked
print(money_metrics_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   int64
dtypes: int64(2), object(4)
memory usage: 271.2+ KB
None

In [ ]:
#Money metrics from lecture

#Profit Margin (PM): 
#revenue earned minus the cost divided by revenue; profit/revenue
#Return on Investment (ROI): 
#ratio between net profit and cost; net profit/cost
#Click-Through Conversion (CTC): 
#% of the # of clicks converted/ total # of clicks
#Click-Through Rate (CTR): 
# of clicks your ad(s) receive per # of impressions. 

#assuming gross equals revenue, production budget = cost
money_metrics_df['Profit Margin']=   (money_metrics_df['worldwide_gross']-money_metrics_df['production_budget'])/money_metrics_df['worldwide_gross']