In [7]:
#Complete cell to create money metrics df for merging
#importing stuff
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

#importing data from csz
tn_movie_budgets_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
tn_movie_budgets_df

#renaming it to work on
money_metrics_df = tn_movie_budgets_df

#funtion for cleaning
def clean_a_money_column(df, series_title):
    df[series_title] = df[series_title].str.replace('$','')
    df[series_title] = df[series_title].str.replace(',','')
    df[series_title] = pd.to_numeric(df[series_title])
    return df

#cleaning
money_metrics_df = clean_a_money_column(money_metrics_df,'worldwide_gross')
money_metrics_df = clean_a_money_column(money_metrics_df,'domestic_gross')
money_metrics_df = clean_a_money_column(money_metrics_df,'production_budget')

#adding profit margin and ROI columns
money_metrics_df['Profit Margin']= (money_metrics_df['worldwide_gross']-money_metrics_df['production_budget'])/money_metrics_df['worldwide_gross']
money_metrics_df['ROI'] = (money_metrics_df['worldwide_gross']/money_metrics_df['production_budget'])

#setting profit margin desc as order for the table
money_metrics_df=money_metrics_df.sort_values(['Profit Margin'], ascending=False)

#creating year and month columns
money_metrics_df['Year'] = money_metrics_df['release_date']


#Vu's magic lambda, plus to numeric on the year 
money_metrics_df['Year'] = pd.to_numeric(money_metrics_df['release_date'].map(lambda x: x[-4:]))
money_metrics_df['Month'] = money_metrics_df['release_date'].map(lambda x: x[:3])

#functions to pull years, months out of the data set. Can also be used for other column types?
#for now, use int types for the year
def year_iso (df, year):
    output_df = df[df['Year'] == year]
    return output_df

#for now, with money_metrics_df, use three letter abreviations for months
def month_iso (df, month):
    output_df = df[df['Month'] == month]
    return output_df


#Automating year pull outs on money_metrics_df, not sure the best way to do this, but for now, list of dataframes?
year_range = list(range(1915,2021))
year_range
year_keys = []
for i in year_range:
    keystring = ''
    keystring = str(i) + ' money_metric_df'
    year_keys.append(keystring)

list_of_dfs_years = []
for i in year_range:
    df_out = year_iso (money_metrics_df, i)
    list_of_dfs_years.append(df_out)
    
years_and_dfs = dict(zip(year_keys,list_of_dfs_years))



money_metrics_df

#dropping the zeros

money_metrics_df['worldwide_gross']

NameError: name 'null' is not defined

In [6]:
money_metrics_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,Profit Margin,ROI,Year,Month
5745,46,"Jun 30, 1972",Deep Throat,25000,45000000,45000000,0.999444,1800.000000,1972,Jun
5613,14,"Mar 21, 1980",Mad Max,200000,8750000,99750000,0.997995,498.750000,1980,Mar
5492,93,"Sep 25, 2009",Paranormal Activity,450000,107918810,194183034,0.997683,431.517853,2009,Sep
5679,80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,0.997599,416.564740,2015,Jul
5406,7,"Jul 14, 1999",The Blair Witch Project,600000,140539099,248300000,0.997584,413.833333,1999,Jul
...,...,...,...,...,...,...,...,...,...,...
5522,23,"Dec 31, 2014",Pancakes,400000,0,na,-inf,0.000000,2014,Dec
5521,22,"Nov 4, 2005",Show Me,400000,0,na,-inf,0.000000,2005,Nov
5520,21,"Apr 1, 1986",My Beautiful Laundrette,400000,0,na,-inf,0.000000,1986,Apr
5116,17,"Sep 8, 2015",Checkmate,1500000,0,na,-inf,0.000000,2015,Sep
4982,83,"Oct 14, 2008",No Man's Land: The Rise of Reeker,2000000,0,na,-inf,0.000000,2008,Oct